flow.json
[{"id":"8034ac5.85727d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"83676137.40dfa","type":"pouchdb-server","z":"","database":"node-red-db","dbUrl":"","dbUser":"admin","dbPwd":"brilt","dbSync":"http://localhost:5984/node-red-db-x","dbSyncUser":"admin","dbSyncPwd":"brilt"},{"id":"9efe162d.531188","type":"pouchdb-get","z":"8034ac5.85727d","name":"","server":"83676137.40dfa","x":290,"y":320,"wires":[["c1394b3f.e1e44","a1cc5deb.ffddf"]]},{"id":"fa0957ed.82f29","type":"inject","z":"8034ac5.85727d","name":"","topic":"","payload":"testDoc2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":320,"wires":[["9efe162d.531188"]]},{"id":"c1394b3f.e1e44","type":"debug","z":"8034ac5.85727d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":260,"wires":[]},{"id":"b3af4868.4f4028","type":"pouchdb-put","z":"8034ac5.85727d","name":"","server":"83676137.40dfa","x":530,"y":180,"wires":[["c1394b3f.e1e44"]]},{"id":"1150ca90.b068bd","type":"inject","z":"8034ac5.85727d","name":"","topic":"","payload":"[{\"_id\":\"testDoc1\",\"token\":\"Test Doc Token 1\"},{\"_id\":\"testDoc2\",\"token\":\"Test Doc Token 2\"},{\"_id\":\"testDoc3\",\"token\":\"Test Doc Token 3\"},{\"_id\":\"testDoc4\",\"token\":\"Test Doc Token 4\"},{\"_id\":\"testDoc5\",\"token\":\"Test Doc Token 5\"},{\"_id\":\"testDoc6\",\"token\":\"Test Doc Token 6\"},{\"_id\":\"testDoc7\",\"token\":\"Test Doc Token 7\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":200,"wires":[[]]},{"id":"a1cc5deb.ffddf","type":"function","z":"8034ac5.85727d","name":"","func":"var doc = msg.payload;\nif(!doc.count) {\n    doc.count = 1;\n} else {\n    doc.count += 1;\n}\nreturn {payload: doc};","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["b3af4868.4f4028"]]},{"id":"782b77f1.3ece4","type":"inject","z":"8034ac5.85727d","name":"","topic":"","payload":"{\"options\":{\"include_docs\":true,\"start_key\":\"testDoc1\",\"end_key\":\"testDoc3\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":460,"wires":[["86142a37.ebe28"]]},{"id":"42c3b78e.31ffb","type":"pouchdb-get","z":"8034ac5.85727d","name":"","server":"83676137.40dfa","x":430,"y":460,"wires":[["c1394b3f.e1e44"]]},{"id":"86142a37.ebe28","type":"function","z":"8034ac5.85727d","name":"","func":"\nreturn {payload: \"\", options: msg.payload.options};","outputs":1,"noerr":0,"x":250,"y":460,"wires":[["42c3b78e.31ffb"]]},{"id":"e8a4af60.a173d8","type":"inject","z":"8034ac5.85727d","name":"","topic":"","payload":"{\"selector\":{\"$and\":[{\"_id\":{\"$gt\":\"testDoc\"}},{\"_id\":{\"$lt\":\"testDoc6\"}}]},\"sort\":[{\"_id\":\"desc\"}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":580,"wires":[["bfc9f3b.9dcae1"]]},{"id":"bfc9f3b.9dcae1","type":"pouchdb-get","z":"8034ac5.85727d","name":"","server":"83676137.40dfa","x":290,"y":580,"wires":[["e55b9482.2e47"]]},{"id":"e55b9482.2e47","type":"debug","z":"8034ac5.85727d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":510,"y":580,"wires":[]},{"id":"6264647f.9ddf34","type":"pouchdb-changes","z":"8034ac5.85727d","name":"","server":"83676137.40dfa","x":100,"y":820,"wires":[["e5fd4e09.2a9728"]]},{"id":"e5fd4e09.2a9728","type":"debug","z":"8034ac5.85727d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":820,"wires":[]}]